
@{
    ViewBag.Title = Resources.labels.PoliticadiReso;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row col-column-foot  flex-center" style=" align-items:center">
       
        <div class="col-lg-12 col-sm-8  flex-center col-xs-12" style=" flex-direction: column">
            <div style="display:flex; flex-direction:column">
                @Html.Raw(Resources.labels.DirittoDiRecesso)
            </div>

 
        </div>
        <br />

    </div>
    <br />
    <hr />
    <div class="col-lg-12 col-sm-8  flex-center col-xs-12" style=" flex-direction: column">
        <div style="display:flex; flex-direction:column">
           @Html.Raw(Resources.labels.IstruzioniReso)
        </div>


    </div>
</div>
