@model Admin.Models.CustomModel.ModelShop

@{
    ViewBag.Title = "Index";
    /*    Layout = "~/Views/Shared/_LayoutShop.cshtml";*/
}

<div class="row main-logo" @*style="margin-top: 150px; margin-bottom: 200px"*@>
</div>
<h2 style="margin-top:30px;" class="text-center"><strong>Il Servizio è attivo dalle ore @System.Configuration.ConfigurationManager.AppSettings["OpenService"]  alle ore @System.Configuration.ConfigurationManager.AppSettings["CloseService"].</strong></h2>


