@model Admin.Models.CustomModels.ReportMensile
<div class="row">
    <div class="col-12 col-md-8 offset-md-1 chart-container" style="width:80%; margin-left:10%; margin-top: 10%;">
        <canvas id="grafico_profitti">
        </canvas>

    </div>

</div>



<script type="text/javascript">
    let graph_page = {

        init: function () {
            graph_page.drawStoricoProfitti();
        },
        drawStoricoProfitti: function () {

            const profitti_chart = {
                type: 'line',
                data: JSON.parse(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.profitti_graph))),
            };
            new Chart(
                $('#grafico_profitti'),
                profitti_chart
            )
        },
        viewReportMensile: function (data) {
            console.log(data);
        }
    }
    $(document).ready(function () {
        graph_page.init();
    });
</script>
