@model Admin.Models.CustomModels.GruppoTaglieModel
@using DevExpress.Web.Mvc.UI
@{
    ViewBag.Title = "Spessori";
}

<style>
    section.content {
        margin: 15px 15px 0 315px;
    }
</style>

<div class="panel panelGreen">
    <div class="panel-heading"><h2><strong>Spessori</strong></h2></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12" id="Colori">
                @(Html.DevExtreme().DataGrid<DAL.Model.Spessori>
                ()
                .DataSource(ds => ds
                .Mvc()
                .Controller("Configurazioni")
                .Key("id_spessore")
                .LoadAction("GetSpessori")
                .UpdateAction("UpdateSpessore").UpdateMethod("POST")
                .InsertAction("AddSpessore").InsertMethod("POST")
                .DeleteAction("DeleteSpessore").DeleteMethod("POST")
                .OnModified("reloadPage")
                )
                .ShowBorders(true)
                .Editing(editing =>
                {
                    editing.Mode(GridEditMode.Popup);
                    if (Request.Cookies["userRetailCassa"]["IdRuolo"] != "2001")
                    {
                        editing.AllowUpdating(true);
                        editing.AllowDeleting(new JS("allowDeleting"));
                    }
                    editing.AllowAdding(true);
                    editing.UseIcons(true);

                    editing.Popup(p => p
                    .Title("Aggiungi Colore")
                    .ShowTitle(true)
                    .Width(500)
                    .Height(300)
                    );

                    editing.Form(f => f
                    .ShowValidationSummary(true)
                    .Items(items =>
                    {
                        items.AddGroup()
                        .CssClass("myPanel panel-heading p-2")
                        .ColCount(1)
                        .ColSpan(1)
                        .Items(groupItems =>
                        {
                            groupItems.AddSimpleFor(c => c.id_spessore)
                            .Label(l => l.Visible(false))
                            .Editor(e => e.TextBox().ID("IdColore"))
                            .Visible(false)
                            .IsRequired(true);

                            groupItems.AddSimpleFor(c => c.descrizione_spessore).Label(l => l.Text("Descrizione Spessore"))
                            .Editor(e => e.TextBox().Width(300))
                            .IsRequired(true);

                            //groupItems.AddSimpleFor(c => c.Descrizione_colore_eng).Label(l => l.Text("Color Description"))
                            //.Editor(e => e.TextBox().Width(300))
                            //.IsRequired(false);
                        });
                    }));
                })
                .Columns(columns => {
                    columns.Add()
                    .Type(GridCommandColumnType.Buttons)
                    .Width(100)
                    .Buttons(b =>
                    {
                        b.Add().Name(GridColumnButtonName.Edit);
                        b.Add().Name(GridColumnButtonName.Delete);
                    });
                    columns.AddFor(c => c.id_spessore).Caption("Id").Visible(false);
                    columns.AddFor(c => c.descrizione_spessore).Caption("Descrizione colore");
                    //columns.AddFor(c => c.Descrizione_colore_eng).Caption("Color Description");
                })
                .Paging(p => p.PageSize(10))
                .FilterRow(f => f.Visible(true))
                .HeaderFilter(f => f.Visible(true))
                .GroupPanel(p => p.Visible(true))
                .Grouping(g => g.AutoExpandAll(false))
                .RemoteOperations(true)
                )
            </div>
        </div>
    </div>
</div>

<div class="panel panelGreen">
    <div class="panel-heading"><h2><strong>Gruppi Spessori</strong></h2></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12" id="GruppiColori">
                @(Html.DevExtreme().DataGrid<DAL.Model.DettaglioGruppoSpessori>()
                    .DataSource(ds => ds.Mvc().Controller("Taglie").Key("id_gruppoSpessori")
                    .LoadAction("GetGruppoSpessori")
                    .UpdateAction("UpdateGruppoSpessori")
                    .UpdateMethod("POST")
                    .InsertAction("AddGruppoSpessori").InsertMethod("POST")
                    .DeleteAction("DeleteGruppoSpessori").DeleteMethod("POST"))

                    .ShowBorders(true)
                    .Editing(e => {
                        e.Mode(GridEditMode.Popup);
                        if (Request.Cookies["userRetailCassa"]["IdRuolo"] != "2001")
                        {
                            e.AllowUpdating(true);
                            e.AllowDeleting(new JS("allowDeleting"));
                        }
                        e.AllowAdding(true);
                        e.UseIcons(true);
                        e.Popup(p => p
                                .Title("Aggiungi Gruppo Spessori")
                                .ShowTitle(true)
                                .Width(600)
                                .Height(400)
                            );
                        e.Form(f =>
                        {
                            f.ColCount(1);
                            f.ShowValidationSummary(true).Items(item =>
                            {
                                item.AddSimpleFor(t => t.Descrizione_gruppo).Label(l => l.Text("Descrizione Gruppo")).Editor(ed => ed.TextBox()).IsRequired(true);
                                item.AddSimpleFor(t => t.spessori_ids_int).Label(l => l.Text("Colori")).Editor(ed => ed.TagBox().DataSource(Model.spessori)
                                    .ID("gruppo_spessori_tag")
                                    .DisplayExpr("descrizione_spessore")
                                    .ValueExpr("id_spessore")
                                    .SearchEnabled(true)
                                    .ShowSelectionControls(true)
                                    .Placeholder("Seleziona Spessori"));
                                item.AddSimpleFor(t => t.id_gruppoSpessori).Label(l => l.Visible(false)).Editor(ed => ed.NumberBox().ID("gruppoColoriID").Visible(false)).DataField("Id");
                            });
                        });
                    })
                    .Columns(col =>
                    {
                        col.Add()
                            .Type(GridCommandColumnType.Buttons)
                            .Width(100)
                            .Buttons(b =>
                            {
                                b.Add().Name(GridColumnButtonName.Edit);
                                b.Add().Name(GridColumnButtonName.Delete);
                            });
                        col.AddFor(t => t.spessori_ids).Visible(false);
                        col.AddFor(t => t.spessori_ids_int).Visible(false);
                        col.AddFor(t => t.id_gruppoSpessori).Caption("Id").Visible(false);
                        col.AddFor(t => t.Descrizione_gruppo).Caption("Descrizione gruppo Spessori");
                        col.AddFor(t => t.spessori).Caption("Spessori");
                    })
                    .Paging(p => p.PageSize(10))
                    .FilterRow(f => f.Visible(true))
                    .HeaderFilter(f => f.Visible(true))
                    .GroupPanel(p => p.Visible(true))
                    .Grouping(g => g.AutoExpandAll(false))
                    .RemoteOperations(true)
                )
            </div>
        </div>
    </div>
</div>

<script>
    function allowDeleting(e) {
        return true; // Modifica secondo le tue regole
    }

    function reloadPage() {
        window.location.reload();
    }
</script>