@model Admin.Models.CustomModels.ModelStampanti
@{
    ViewBag.Title = "Gestione Tipi Stampanti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    section.content {
        margin: 15px 15px 0 315px;
    }
</style>

<div class="panel-heading"><h3><strong>Tipi Stampanti</strong></h3></div>

    @(Html.DevExtreme().DataGrid<DAL.Model.TipoStampante>
        ()
        .ID("gridTipiStampanti")
        .DataSource(ds => ds
        .Mvc()
        .Controller("Configurazioni")
        .Key("id_tipo_stampante")
        .LoadAction("GetTipiStampanti")
        .UpdateAction("UpdateTipoStampante").UpdateMethod("POST")
        .InsertAction("AddTipoStampante")
        .DeleteAction("DeleteTipoStampante").DeleteMethod("POST")
        )
        .ShowBorders(true)
        .Editing(editing =>
        {
            editing.Mode(GridEditMode.Form);
            editing.AllowUpdating(true);
            editing.AllowAdding(true);
            editing.AllowDeleting(new JS("allowDeleting"));
            editing.UseIcons(true);
            editing.Popup(p => p
                    .Title("Modifica Tipo Stampante")
                    .ShowTitle(true)
                    .Width(800)
                    .Height(250)
                    )
                    .Form(f => f.Items(items =>
                    {
                        items.AddGroup()
                            .ColCount(2)
                            .ColSpan(2)
                            .Items(groupItems =>
                            {
                                groupItems.AddSimpleFor(m => m.tipo_stampante).IsRequired(true).Label(l => l.Text("Tipo Stampante"))
                                    .Editor(et => et
                                    .TextBox());

                            });

                    }));

        })
        .Columns(columns => {
            columns.AddFor(m => m.tipo_stampante).Caption("Tipo Stampante");
            columns.Add()
        .Type(GridCommandColumnType.Buttons)
        .Width(80)
        .Buttons(b =>
        {
                b.Add().Name(GridColumnButtonName.Edit);
                b.Add().Name(GridColumnButtonName.Delete);
            });
        })
        .Paging(p => p.PageSize(10))
        .FilterRow(f => f.Visible(true))
        .HeaderFilter(f => f.Visible(true))
        .GroupPanel(p => p.Visible(true))
        .Grouping(g => g.AutoExpandAll(false))
        .RemoteOperations(true)
        .Width(1100)
        )

<script>
    var maxID = @Model.Count;

    function isChief(position) {
        return position && ["CEO", "CMO"].indexOf(position.trim().toUpperCase()) >= 0;
    };

    function allowDeleting(e) {
        return !isChief(e.row.data.Position);
    }

    function isCloneIconVisible(e) {
        return !e.row.isEditing && !isChief(e.row.data.Position);
    }

    function onCloneIconClick(e) {
        var clonedItem = $.extend({}, e.row.data, { ID: ++maxID });

        employees.splice(e.row.rowIndex, 0, clonedItem);
        e.component.refresh(true);
        e.event.preventDefault();
    }

    function onRowValidating(e) {
        var position = e.newData.Position;

        if (isChief(position)) {
            e.errorText = "The company can have only one " + position.toUpperCase() + ". Please choose another position.";
            e.isValid = false;
        }
    }

    function onEditorPreparing(e) {
        if (e.parentType === "dataRow" && e.dataField === "Position") {
            e.editorOptions.readOnly = isChief(e.value);
        }
    }

    function fileUploader_valueChanged(e) {
        //var key = e.element.attr('data-id');
        //e.component.option('uploadUrl', '/Configurazioni/UploadFile?key=' + key);
    }

    function fileUploaded(e) {
       // $("#gridCat").dxDataGrid("instance").refresh();
    }

</script>
